img {
    width:300px;
    height:350px;
    border-radius: 10px;
}
#b {
    width:160px;
    height:350px;
    border-radius: 10px;
}
#m  {
    width:500px;
    height:350px;
    border-radius: 10px;
}
 #p {
    width:570px;
    height:350px;
    border-radius: 10px;
 }

 .test_images_and_results {
    float:none;
      width: 50%;
      text-align: left;
      padding: 8px;
      margin-top: 50px;
      border: 1px solid black;
      box-shadow: -10px -10px 20px firebrick;
 }
 .mini_result {
     background-color: bisque;
     text-align: center;
     padding: 10px;;
     border-radius: 40px;
     border: 2px solid deeppink;
 }
 b {
    font-size: 20px;
    color:darkviolet;
 }
 #Mobilenet {
    font-size: 20px;
    color:darkred;
    font-weight: bolder;
 }
 #Wolfram {
    font-size: 20px;
    color:deeppink;
    font-weight: bolder;
 }
 
 #final_result {
     width: 80%;
     background-color: rgb(243, 33, 68);
     color:whitesmoke;
     box-shadow: 8px 8px 10px greenyellow;
     margin-top: 50px;
     margin-left: 10%;
     margin-bottom: 40px;
     border-radius: 50px;
     border: 2px solid khaki;
 }

 body {
     background: linear-gradient(rgb(252, 173, 84),rgb(248, 136, 192),rgb(144, 248, 144) )
 }

 li {
     margin-left: 30px;
     font-weight: bolder;
     color: darkgreen;
     font-size: 25px;
 }

 span {
     font-weight: bolder;
 }

 .mini_result_h4 {
     font-size: 30;
     color: navy;
 }